@charset "UTF-8";

/* CSS DOCUMENT */

/* FONT-FACE */
@font-face {
    font-family: 'tangosansregular';
    src: url('font/tangosans-webfont.woff2') format('woff2'),
         url('font/tangosans-webfont.woff') format('woff'),
         url('font/tangosans-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}


/*GENERAUX*/
body 
{  width:100% ; margin: 0; padding: 0; font: 1em Verdana, Arial, sans-serif; background-image: url("img/fond2.jpg");}
div#zone-nav {margin: 0 auto;}



/*LOGO */
div#zone-nav,header {margin: 0; padding: 0; background-color: #fff; height: 100%;}
div#first-logo {text-align: center;}


/*PARALLAX*/
div.parallax {display: flex; justify-content: center; align-items: center; background-size: cover; background-position: center; background-repeat: no-repeat; background-attachment: fixed; height: 700px;}

div.parallax1 {background-image: url("img/femme-artiste2.jpg");}

div.parallax h1 {background-color: rgba(154, 155, 156, 0.35);font-size: 3em; color: #fff; text-align: center;text-transform: uppercase; padding: 15px; backdrop-filter: blur(5px);}





/*NAVIGATION*/
/* nav { color: white; -webkit-position: sticky;} */
nav {position: -webkit-sticky; position:sticky; top:10px; width:1140px; margin: 0 auto; background:#fff;}
nav a 
nav ul {list-style-type:none;} /*1*/
nav ul,nav li {margin:0px; padding:0px;} /*1*/
nav > ul {padding:0px 20px; text-align:center;} /*6*/
nav ul li {display:inline-block; position:relative;} /*2*/
nav li a {display:block; padding:20px; color:rgb(0, 0, 0); font: normal 1.4em 'tangosansregular', Verdana, Arial, Helvetica, Sans-serif; text-align:left; text-decoration:none;} /*4*/ /*5*/
nav li:hover > a, nav li a:hover {background: linear-gradient(transparent, #24c8ff5b); color:#000;} /*10*/ /*9*/

img.picto-shop {height : 40px;}

/*NAV SOUS-MENUS*/
nav ul ul {display:none; position:absolute; z-index:9999; text-align:left; background:#24c8ffbd; border-top:1px solid #000;} /*11*/ /*3*/ /*7*/ /*16*/
nav ul li:hover > ul {display:block;} /*12*/
nav ul ul li {border-bottom:1px solid #ccc;} /*14*/
nav ul ul li:last-child {border-bottom:0px;} /*15*/
nav ul ul a {width:300px; color:#fff;} /*8*/
nav ul ul a:hover {background-color:#ccc;} /*13*/

/*SECTION*/

section {box-sizing: border-box; margin: 0; padding: 0; background-color: #fff;}

div#description {display: flex; justify-content: center; align-items: center; width: 1140px; margin: 0 auto; padding: 0px;}


div#texte-artdessin { padding: 0 100px;}
div#texte-artdessin h1 {color: #fff ;font: bold 3em 'tangosansregular', Verdana, Arial, Helvetica, Sans-serif;}
div#texte-artdessin p {color: #fff; font: normal 1.3em Verdana, Arial, Helvetica, Sans-serif;}

div#artetdessin {background-color: #e23d4c;background-attachment: fixed; height: 1000px; }

/* SECTION PANIER */
div#zone-information {padding-top: 80px; margin: 0 0 0 80px ;}
div#zone-information h2 {padding: 0; margin: 0;}


div#panier fieldset.saisir-info {padding: 60px; box-shadow: 10px 10px 30px #747474;
    border-radius: 20px;}
div#panier fieldset.saisir-info legend {margin: 0 auto;}
div#panier {width: 1140px; margin: 0 auto;}


div#commande fieldset {border-radius: 20px ;box-shadow: 10px 10px 30px #747474; margin: 0 auto;width: 480px; margin: 0 auto;}
div#commande fieldset legend {margin: 0 auto;}
div#commande fieldset img {height: 200px;}
div#commande fieldset label {font-weight: bold;}
div#commande fieldset select {padding: 10px; background-color: #7474742a; border-radius: 15px; border: 0; margin-bottom: 30px;}

div#commande form input {padding: 10px 1px; border: 0; background-color:#7474742a ; border-radius: 15px; text-align: center;}

.button {padding: 20px;}
.uppercase {text-transform: uppercase;}

div#total {padding: 80px 0;}

div#total form {border-radius: 20px ;box-shadow: 10px 10px 30px #747474; margin: 0 auto;width: 480px; margin: 0 auto;}
div#total fieldset {margin: 0 auto;}
div#total fieldset span legend { margin: 0 auto; text-align: center;}
div#total input.button {background-color: #e23d4c; border: 0; border-radius: 10px ;  color: #fff; display:block; justify-content: center; margin: 10px 0; padding: 15px 45px; font: normal 1.2em 'tangosansregular', Verdana, Arial, Helvetica, Sans-serif;}
div#total input.button:hover {background-color: #e7a53d;}
div#total input.text {border: 0;}
div#total input {margin: 0 auto;}

/* SECTION MON ESPACE PERSONNEL */

section { width: 1140px; margin: 0 auto; padding: 80px 0;}
.profile-image {
    background-image: url("img/femme-artiste.jpg");
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin: 0 auto; 
}

div#profile-info {padding: 0 250px; }
.profile-nom {text-align: center; font: normal 3em 'tangosansregular', Verdana, Arial, Helvetica, Sans-serif;  }

div#boutique {text-align: center; margin:80px 0 ;}
div#boutique h1 {font: normal 3em 'tangosansregular', Verdana, Arial, Helvetica, Sans-serif; margin: 0; }

div#boutique-caroussel {
    display: flex;
    overflow-x: scroll;
    padding: 10px;
    width: 900px;
    margin: 0 auto;
}

div#forum {text-align: center; margin: 80px 0;}
div#forum input {background-color: rgba(128, 128, 128, 0.24); border: 0px;border-radius: 10px; width: 350px; height: 50px; text-align: center; color: rgba(128, 128, 128, 0.438); font-size: 1.2em;}
div#forum textarea {background-color: rgba(128, 128, 128, 0.24); border: 0px;border-radius: 10px; width: 500px; border-color: #e23d4c;height: 250px; text-align: center; color: rgba(128, 128, 128, 0.438); font-size: 1.2em;}

div#forum button {background-color: #e23d4c; border: 0; border-radius: 10px ;  color: #fff; justify-content: center; margin: 0 auto; padding: 15px 45px; font: normal 1.2em 'tangosansregular', Verdana, Arial, Helvetica, Sans-serif; }
div#forum button:hover {background-color: #e7a53d;}


/* SECTION CONCOURS */
caption {text-align: center; margin:15px 0;font: normal 2.5em 'tangosansregular', Verdana, Arial, Helvetica, Sans-serif; }
table {border-collapse: collapse;margin:0 auto; width: 80%; box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.021);}
table td,th { border: 5px solid #fff; padding: 8px; margin: 10px;}


thead th {background-color: #e23d4c; color: rgb(212, 212, 212); }

tbody td { color: rgb(0, 0, 0); padding: 8px; text-align: left; }

.beige {background-color: #fff;}

/*pied de page*/
tfoot {background-color: #e23d4c; padding: 15px 15px 15px 30px;}
tfoot td {color: white; padding: 15px 15px 15px 30px;}

/*hover*/
table tbody tr:nth-child(even){background-color: #689be773;}
table tbody tr:nth-child(odd){background-color: #e7a63d23;}
tbody tr:hover td {color:white; background-color: #e7a53d !important;}

table tbody tr:nth-child(odd) td:nth-child(2),table tbody tr:nth-child(odd) td:nth-child(3) { background-color:#fff;}

/* SECTION BLOGUE */


div#article1 h1 {text-transform: uppercase;}
div#article1 h3 {color: #747474; font-weight: normal ;}
div#article1 {text-align: left; padding: 0 150px;}
div#article1 img {width: 840px;}

div#article2 h1 {text-transform: uppercase;}
div#article2 h3 {color: #747474; font-weight: normal ;}
div#article2 {text-align: left; padding: 0 150px;}
div#article2 img {width: 840px;}

div#article3 h1 {text-transform: uppercase;}
div#article3 h3 {color: #747474; font-weight: normal ;}
div#article3 {text-align: left; padding: 0 150px;}
div#article3 img {width: 840px;}

div#article4 h1 {text-transform: uppercase;}
div#article4 h3 {color: #747474; font-weight: normal ;}
div#article4  {text-align: left; padding: 0 150px;}
div#article4 img {width: 840px;}

div#motif {margin: 80px 0;}
div#motif path {fill: #24c8ffab; height: 100px;}
div#motif svg {height: 20px;}


/* SECTION ART VISUEL */

div#dessin {display: flex; padding: 0 20px;}
div#dessin img {height: 300px;}
div#dessin p {padding: 0 30px;}
div#zone-dessin h1{text-align: center;font: bold 3em 'tangosansregular', Verdana, Arial, Helvetica, Sans-serif;}

div#calligraphie {display: flex; padding: 0 20px;}
div#calligraphie img{height: 300px;}
div#calligraphie p {padding: 0 30px;}

div#design {display: flex; padding: 0 20px;}
div#design img{height: 300px;}
div#design p {padding: 0 30px;}


/* TITRES */
.title {text-align: center; font-size: 3em; margin-top: 80px;}


/* ARTICLE CAROUSSELLE */
div#article-carousel {
    display: flex;
    overflow-x: scroll;
    padding: 10px;
    width: 950px;
}

div#article-carousel {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 450px;
    
}
div#article-carousel {
    flex: 1 0 450px;
    margin: 0 auto;
}

.card img {height: 250px;}

/* FORMULAIRE */
div#formulaire {display: flex; margin: 0 auto; justify-content: center; margin: 80px 0;}
div#formulaire img { width: 300px; height: 500px;}


fieldset {border: 0;}
fieldset legend {font: normal 2em 'tangosansregular', Verdana, Arial, Helvetica, Sans-serif;}
div#formulaire input {background-color: rgba(128, 128, 128, 0.24); border: 0px;border-radius: 10px; width: 350px; height: 50px; text-align: center; color: rgba(128, 128, 128, 0.438); font-size: 1.2em;}
fieldset p {padding: 20px 0;}

fieldset button {background-color: #e23d4c; border: 0; border-radius: 10px ;  color: #fff;display:block; justify-content: center; margin: 0 auto; padding: 15px 45px; font: normal 1.2em 'tangosansregular', Verdana, Arial, Helvetica, Sans-serif;}
div#connexion button {margin-top:10px; background-color: #fff; border: 1px solid #e23d4c; color: #e23d4c; text-align: center;}
div#connexion button:hover {margin-top:10px; background-color: #e23d4c;  color: #ffffff; text-align: center;}
div#button button:hover {background-color: #e23d4c; border: 0; border-radius: 10px ;-color: #e7a53d;}
/* span {text-align: center; margin: 0 auto; font: normal 1.5em 'tangosansregular', Verdana, Arial, Helvetica, Sans-serif; color: #fff;} */

div#inscription {padding: 0 10px;}
div#button {font:normal 1.2em 'tangosansregular', Verdana, Arial, Helvetica, Sans-serif; text-align: center;}
div#button a:hover {color: #e7a53d;}
div#button a:link {color: #e23d4c;}
path {background-color: #0099ff;}

/* SECTION A PROPOS */
div#texte1 {display: flex; padding: 30px;}
div#texte1 div {padding: 0 30px;}
div#texte1 img {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 0 auto; }

div#texte2 {display: flex; padding: 30px;}
div#texte2 div {padding: 0 30px;}
div#texte2 img {
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        margin: 0 auto; }

/* FOOTER */
footer {background-color: #e7a53d;}

div#zone-footer {display: flex; padding: 80px 0; justify-content: center; background-color: #e7a53d;}
div#zone-footer img {margin: 10px;}
div#zone-footer article {border-right: 1px solid; color: #F5F5F5;padding: 50px;}
footer path {fill: #ffffff; background-color: #fff;}

div#zone-footer img {margin: 10px;}
div#zone-footer article ul {font-size: 1.2em; list-style-type: none;}
div#zone-footer article li{padding: 10px 0;}

div#zone-footer article  a {color: #F5F5F5; text-decoration: none;}
div#zone-footer article  a:hover {color: #e23d4c;}
div#zone-footer article img {height: 50px; margin: 0; padding: 0;}
.test {transition: cubic-bezier(0.075, 0.82, 0.165, 1);}



/* SCROLL */
::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    height: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #e7a53d;
    border-radius: 20px;
}

svg {width: 100%;}
path {fill: #fff;}

footer p {margin: 0; text-align: center; color: #fff;}